<section class="ezy__testimonial7_sb3RYj2r">
  <div class="container">
    <div class="justify-content-center text-center">
      <h1 class="h1 text-center custom-h1" id="pageHeaderTitle">Client Testimonials</h1>
      <div class=" justify-content-center border-bottom" >
        <p class="text-center text-muted custom-subHeading">Don't just take our word for it...</p>
      </div>
    </div>
    <div class="row mb-4 mb-md-5 mt-4">
      <div class="col-lg-5">
        <h2 class="ezy__testimonial7_sb3RYj2r-heading mb-4">Everyone should believe in What Our Client Say.</h2>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <p class="ezy__testimonial7_sb3RYj2r-sub-heading mb-0">
          It’s easier to reach your savings goals when you have the right savings account. Take a look and find the
          right one for you!
        </p>
      </div>
    </div>
    <div class="row ezy__testimonial7_sb3RYj2r-card">
      <div class="col-md-4 mt-3 mt-lg-4">
        <div class="card ezy__testimonial7_sb3RYj2r-item">
          <div class="card-body px-lg-4 pt-4 pb-lg-5">
            <img src="https://cdn.easyfrontend.com/pictures/users/user22.jpg" alt=""
                 class="img-fluid rounded-circle mb-4 border" width="100"/>
            <h4 class="ezy__testimonial7_sb3RYj2r-title fs-5 mb-1">Zavier Mandoza</h4>
            <p class="mb-4 ezy__testimonial1_sb3RYj2r-rating">

              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star_half.png" alt="Half Star" class="star-icon" />

            </p>
            <p class="ezy__testimonial7_sb3RYj2r-content mb-0">
              VolkMatrix’s platform has revolutionized our customer outreach with unparalleled service. The impressive results are a testament to their exceptional solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3 mt-lg-4">
        <div class="card ezy__testimonial7_sb3RYj2r-item">
          <div class="card-body px-lg-4 pt-4 pb-lg-5">
            <img src="https://cdn.easyfrontend.com/pictures/users/user4.jpg" alt=""
                 class="img-fluid rounded-circle mb-4 border" width="100"/>
            <h4 class="ezy__testimonial7_sb3RYj2r-title fs-5 mb-1">Louise Vertz</h4>
            <p class="mb-4 ezy__testimonial7_sb3RYj2r-rating">
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
            </p>
            <p class="ezy__testimonial7_sb3RYj2r-content mb-0">
              Switching to VolkMatrix was the best decision we made. The insights we gain from their reports are
              invaluable, and our campaign performance has skyrocketed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3 mt-lg-4">
        <div class="card ezy__testimonial7_sb3RYj2r-item">
          <div class="card-body px-lg-4 pt-4 pb-lg-5">
            <img src="https://cdn.easyfrontend.com/pictures/users/user20.jpg" alt=""
                 class="img-fluid rounded-circle mb-4 border" width="100"/>
            <h4 class="ezy__testimonial7_sb3RYj2r-title fs-5 mb-1">Ivan Oleo</h4>
            <p class="mb-4 ezy__testimonial1_sb3RYj2r-rating">
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Star" class="star-icon" />
              <img src="icons/star.png" alt="Half Star" class="star-icon" />
              <img src="icons/star_half.png" alt="Half Star" class="star-icon" />
            </p>
            <p class="ezy__testimonial7_sb3RYj2r-content mb-0">
              From start to finish, the VolkMatrix team has been incredible. Their platform is easy to use, and the
              customer support is always there when you need it.
            </p>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="ezy__testimonial7_sb3RYj2r-dot-control text-center mt-4 mt-lg-5">-->
<!--      <span></span><span class="active"></span>-->
<!--    </div>-->
  </div>
</section>
