<section  id="pricingSec">
  <div class="container py-5">
    <h1 class="text-center display-4 text-dark font-weight-medium custom-h1">
      Pricing
    </h1>
    <p class="text-center text-muted mt-2">
      Flexible Plans Tailored to Your Business Needs—Choose the Perfect Fit and Start Growing Today.
    </p>
    <div class="mx-auto bg-primary w-25 mt-4 rounded" style="height: 2px;"></div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 mb-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h1 class="card-title font-weight-medium">Basic</h1>
            <h2 class="pricing-txt">FREE</h2>
            <p>Stripe offers everything needed to run an online business at scale. Get in touch for details.</p>
            <ul class="list-unstyled">
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">No setup</span>
              </li>
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">Speed</span>
              </li>
            </ul>
            <button class="btn btn-dark btn-lg btn-block">Select</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-header bg-dark text-center">
            <h5 class="font-weight-bold text-white text-uppercase">Most Popular</h5>
          </div>
          <div class="card-body text-center">
            <h1 class="card-title font-weight-medium">Pro</h1>
            <h2 class=" pricing-txt"><span class="display-4">₹2299</span> /mo</h2>
            <p>Stripe offers everything needed to run an online business at scale. Get in touch for details.</p>
            <ul class="list-unstyled text-left">
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">No setup</span>
              </li>
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">Hidden fees</span>
              </li>
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">Original</span>
              </li>
            </ul>
            <button class="btn btn-dark btn-lg btn-block">Select</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h1 class="card-title font-weight-medium">Enterprise</h1>
            <h2 class="pricing-txt">₹7999 /mo</h2>
            <p>Stripe offers everything needed to run an online business at scale. Get in touch for details.</p>
            <ul class="list-unstyled">
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">Electric</span>
              </li>
              <li class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">Monthly</span>
              </li>
              <li class="mb-3 p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                     class="bi bi-check2-circle"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <span class="ml-2 text-dark">No setup</span>
              </li>
            </ul>
            <button class="btn btn-dark btn-lg btn-block">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
