<!--


<div class="d-flex align-items-center justify-content-center vh-100 ">
  <div class="text-center">
    <div style="width: 500px; height: 300px">
      <img src="/images/404.svg">
    </div>
    <p class="fs-3 fw-bold text-dark">Uh-oh!</p>
    <a href="/web" class="btn btn-dark mt-5">
      Go Back Home
    </a>
  </div>
</div>
-->

<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <div class="mb-4">
      <img src="/images/404.svg" class="responsive-img" alt="404 Error">
    </div>
    <p class="fs-3 fw-bold text-dark">Uh-oh!</p>
    <a href="/web" class="btn btn-dark mt-4">
      Go Back Home
    </a>
  </div>
</div>
