<div *ngIf="alertPopup" class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  {{ message }}

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
  <div class="progress mt-2">
    <div class="progress-bar bg-{{type}}" [style.width.%]="progress"  role="progressbar" aria-valuemin="0"
         aria-valuemax="100"></div>
  </div>
</div>


<div *ngIf="ApiPopup" class="modal fade show d-block" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
        <button type="button" class="close btn" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center ">
        <!-- Display the green tick for success or red cross for error -->
        <img *ngIf="type === 'success'" src="icons/Check_Black.svg" alt="Success" width="40" height="80">
        <img *ngIf="type === 'error'" src="icons/Cross_Black.svg" alt="Error" width="40" height="80">
        <div>

        {{message}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>





