<app-navbar></app-navbar>

<!--<section class="ezy__faq18 light">
  <div class="container">
    <div class="row justify-content-center mb-md-4">
      <div class="col-lg-8 col-xl-7 text-center">
        <h2 class="ezy__faq18-heading mb-3">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
&lt;!&ndash;        <h5 class="ezy__faq18-title mt-4 mt-md-5">Free Trial</h5>&ndash;&gt;

        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-1" role="button" aria-expanded="true"
            aria-controls="ezy-faq18-collapse-1">
            <span> What is VolkMatrix?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse show" id="ezy-faq18-collapse-1">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                VolkMatrix is a comprehensive communication platform designed to help businesses connect with their
                customers through multiple channels, including SMS, voice, WhatsApp, and email. Our platform simplifies
                the process of reaching out to your audience, whether you're sending bulk messages, automating voice
                calls, or managing customer interactions on WhatsApp.
              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-2" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-2">
            <span>How can VolkMatrix help my business?</span>

            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-2">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                VolkMatrix enhances your communication strategies by providing tools that allow you to send personalized
                messages, automate workflows, and track the performance of your campaigns. By leveraging multiple
                communication channels, you can reach your customers more effectively, increase engagement, and drive
                better results.
              </p>
            </div>
          </div>
        </div>

        &lt;!&ndash;        <h5 class="ezy__faq18-title mt-4 mt-md-5">Pricing & Payment</h5>&ndash;&gt;

        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-3" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-3">
            <span>What industries can benefit from VolkMatrix?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-3">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                VolkMatrix is versatile and can be used across various industries, including retail, healthcare,
                finance, education, and more. Whether you're a small business or a large enterprise, our platform can be
                tailored to meet your specific communication needs, ensuring you can effectively engage with your
                customers.

              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-4" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-4">
            <span>How does the SMS messaging service work?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-4">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                Our SMS messaging service allows you to send text messages to your customers quickly and efficiently.
                You can send individual messages, schedule bulk campaigns, and personalize your texts based on customer
                data. Our platform also provides real-time analytics, so you can monitor the success of your SMS
                campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-5" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-5">
            <span> What features does the voice communication service offer?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-5">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                The voice communication service includes automated voice calls, Interactive Voice Response (IVR)
                systems, and text-to-speech conversion. You can use these features for reminders, notifications,
                customer support, and more. The service allows you to schedule calls, track performance, and ensure your
                voice messages are delivered clearly and effectively.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        &lt;!&ndash;        <h5 class="ezy__faq18-title mt-4 mt-md-5">General</h5>&ndash;&gt;

        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-7" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-7">
            <span>How secure is the WhatsApp Business integration?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-7">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                Security is a top priority at VolkMatrix. Our WhatsApp Business integration uses end-to-end encryption
                to ensure that all communications are secure and private. This means that only you and your customers
                can read the messages, providing peace of mind when conducting business through WhatsApp.
              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-8" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-8">
            <span> Can I track the performance of my email campaigns?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-8">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                Yes! VolkMatrix provides detailed analytics for your email campaigns. You can track metrics such as open
                rates, click-through rates, and conversions. Our platform also offers advanced segmentation and
                targeting options, allowing you to optimize your campaigns and achieve better results.
              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-9" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-9">
            <span>How do I get started with VolkMatrix?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-9">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                Getting started with VolkMatrix is simple. Sign up on our website to create an account, and you'll have
                immediate access to our platform. From there, you can explore the various services, set up your
                communication channels, and start engaging with your customers. If you need assistance, our support team
                is here to help you every step of the way.
              </p>
            </div>
          </div>
        </div>
        <div class="ezy__faq18-item mt-4">
          <a
            class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
            data-bs-toggle="collapse" href="#ezy-faq18-collapse-10" role="button" aria-expanded="false"
            aria-controls="ezy-faq18-collapse-10">
            <span>Do you offer support and training?</span>
            <div class="ezy__faq18-icon">
              <span class="fas fa-chevron-down"></span>
            </div>
          </a>
          <div class="collapse" id="ezy-faq18-collapse-10">
            <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                Absolutely! We provide comprehensive support and training to ensure you get the most out of VolkMatrix.
                Our customer support team is available to answer any questions you may have, and we offer tutorials,
                webinars, and documentation to help you master our platform.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ezy__faq18-item mt-4">
        <a
          class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18-btn-collapse"
          data-bs-toggle="collapse" href="#ezy-faq18-collapse-11" role="button" aria-expanded="false"
          aria-controls="ezy-faq18-collapse-10">
          <span> Can VolkMatrix be integrated with other tools and platforms??</span>
          <div class="ezy__faq18-icon">
            <span class="fas fa-chevron-down"></span>
          </div>
        </a>
        <div class="collapse" id="ezy-faq18-collapse-11">
          <div class="ezy__faq18-content px-3 px-lg-4 pb-lg-4">
            <p class="opacity-50 mb-0">
              Yes, VolkMatrix is designed to integrate seamlessly with other tools and platforms you may already be
              using. Whether you need to connect with your CRM, marketing automation tools, or any other system, our
              platform offers flexible integration options to ensure a smooth workflow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
&lt;!&ndash;  </div>&ndash;&gt;
</section>-->


<!--<div class="accordion" id="accordionPanelsStayOpenExample">-->
<!--  <div class="accordion-item" *ngFor="let faq of faqs; let i = index">-->
<!--    <h2 class="accordion-header">-->
<!--      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{faq.id}}"-->
<!--              aria-expanded="true" aria-controls="{{faq.id}}">-->
<!--        {{ faq.question }}-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="{{faq.id}}" class="accordion-collapse collapse show">-->
<!--      <div class="accordion-body">-->
<!--        {{ faq.answer }}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + faq.id"
                [attr.aria-expanded]="i === 0"
                [attr.aria-controls]="faq.id">
          {{ faq.question }}
        </button>
      </h2>
      <div [attr.id]="faq.id" class="accordion-collapse collapse" [ngClass]="{'show': i === 0}">
        <div class="accordion-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </div>

</div>-->



  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5">
      <div class="col-md-6 " >
        <div>
        <h2 class="ezy__faq7-heading mb-4 custom-h1">Frequently Asked Questions</h2>
        <p class="ezy__faq7-sub-heading mb-0">
          Get to know VolkMatrix and how our communication platform can enhance your customer engagement strategies.
        </p>
        <button class="btn btn-dark mt-4 mt-lg-5" (click)="toggleShowAll()">
          {{ showAll ? 'View Less' : 'View All FAQ\'s' }}
        </button>
        </div>
        <div class="mt-3 ">
          <div class="col-lg-4 offset-lg-0 p-0  shadow-lg">
            <img class="rounded-lg-3 rounded"
                 src="images/faq.svg"
                 alt="Bootstrap Docs Image"
                 width="520">
          </div>

        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 card-body">
        <div class="ezy__faq7-item" *ngFor="let faq of (showAll ? faqs : faqs.slice(0, 3)); let i = index">
          <h5 class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq7-btn-collapse">
            <span>{{ faq.question }}</span>
          </h5>
          <div class="ezy__faq7-content px-3 px-lg-4 pb-lg-4">
            <p class="opacity-50 mb-0">
              {{ faq.answer }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
