<section class="ezy__team2_LKgtflHG">
  <div class="container">
    <div class="row justify-content-center mb-4 mb-md-5">
      <div class="col-lg-6 col-xl-5 text-center">
        <h2 class="ezy__team2_LKgtflHG-heading mb-3">Our Experts Team</h2>
        <p class="ezy__team2_LKgtflHG-sub-heading mb-0">
          Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at qui.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-3">
        <img
          src="https://cdn.easyfrontend.com/pictures/users/user24.jpg"
          alt=""
          class="img-fluid rounded-circle"
          width="230"
        />
        <div class="ezy__team2_LKgtflHG-content px-3 py-4 px-xl-4">
          <h4 class="mb-2">Akshay Kumar</h4>
          <h6>Founder / CEO</h6>
          <p class="opacity-50 mb-0">Subscribe Easy Tutorials Youtube Channel watch more videos</p>
          <div class="ezy__team2_LKgtflHG-social-links mt-4">
            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-behance"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <img
          src="https://cdn.easyfrontend.com/pictures/users/user2.jpg"
          alt=""
          class="img-fluid rounded-circle"
          width="230"
        />
        <div class="ezy__team2_LKgtflHG-content px-3 py-4 px-xl-4">
          <h4 class="mb-2">Raima Ray</h4>
          <h6>Business Head</h6>
          <p class="opacity-50 mb-0">Subscribe Easy Tutorials Youtube Channel watch more videos</p>
          <div class="ezy__team2_LKgtflHG-social-links mt-4">
            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-behance"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <img
          src="https://cdn.easyfrontend.com/pictures/users/user25.jpg"
          alt=""
          class="img-fluid rounded-circle"
          width="230"
        />
        <div class="ezy__team2_LKgtflHG-content px-3 py-4 px-xl-4">
          <h4 class="mb-2">Arjun Kapur</h4>
          <h6>UI Design</h6>
          <p class="opacity-50 mb-0">Subscribe Easy Tutorials Youtube Channel watch more videos</p>
          <div class="ezy__team2_LKgtflHG-social-links mt-4">
            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-behance"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <img
          src="https://cdn.easyfrontend.com/pictures/users/user3.jpg"
          alt=""
          class="img-fluid rounded-circle"
          width="230"
        />
        <div class="ezy__team2_LKgtflHG-content px-3 py-4 px-xl-4">
          <h4 class="mb-2">Alia Bhatt</h4>
          <h6>Marketing Head</h6>
          <p class="opacity-50 mb-0">Subscribe Easy Tutorials Youtube Channel watch more videos</p>
          <div class="ezy__team2_LKgtflHG-social-links mt-4">
            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-behance"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
