
<section class="ezy__service5_A3x4BbMS">
  <div class="container">
    <div class="row justify-content-center mb-md-5  border-bottom">
      <div class="col-lg-6 text-center ">
        <h2 class="ezy__service5_A3x4BbMS-heading mb-4 custom-h1">Why volkmatrix</h2>
        <p class="ezy__service5_A3x4BbMS-sub-heading mb-0">Discover a suite of powerful features designed to elevate your messaging, enhance
          engagement, and drive business growth.</p>
      </div>
    </div>
    <div class="ezy__service5_A3x4BbMS-list text-center p-3 mt-3">
      <div class="row">
        <div class="col-md-3 mt-5 mt-md-0">
          <div class="card ezy__service5_A3x4BbMS-card">
            <div class="card-body px-lg-4 py-lg-5">
              <img class="ezy__service5_A3x4BbMS-icon mb-4"
                   src="images/integration.svg" width="150" />
              <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Easy Integration</h4>
              <p class="ezy__service5_A3x4BbMS-content mb-0">Integrate effortlessly with our API and start sending messages within
                minutes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5 mt-md-0">
          <div class="card ezy__service5_A3x4BbMS-card active">
            <div class="card-body px-lg-4 py-lg-5">
              <img class="ezy__service5_A3x4BbMS-icon mb-4"
                   src="images/reprt.svg" width="150" />
              <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Comprehensive Reporting</h4>
              <p class="ezy__service5_A3x4BbMS-content mb-0">Gain insights into your campaigns with real-time analytics and detailed
                reports.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5 mt-md-0">
          <div class="card ezy__service5_A3x4BbMS-card">
            <div class="card-body px-lg-4 py-lg-5">
              <img class="ezy__service5_A3x4BbMS-icon mb-4"
                   src="images/scale.svg" width="150" />
              <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Scalable Messaging</h4>
              <p class="ezy__service5_A3x4BbMS-content mb-0">Reach thousands of customers without compromising speed or reliability..</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5 mt-md-0">
          <div class="card ezy__service5_A3x4BbMS-card">
            <div class="card-body px-lg-4 py-lg-5">
              <img class="ezy__service5_A3x4BbMS-icon mb-4"
                   src="images/personalization.svg" width="150" />
              <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Personalized Communication</h4>
              <p class="ezy__service5_A3x4BbMS-content mb-0">Send tailored messages that resonate with your audience
                .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
