<div class="container mt-3">

  <div class="row text-center  mb-5 border-bottom">
    <h1 class="custom-h1">Explore Our Range of Services</h1>
    <p class="text-center text-muted custom-subHeading ">Delivering excellence through a variety of services to meet
      your unique
      needs</p>
  </div>

  <div id="featuresCarousel" class="carousel slide ezy__featured24_zc25EolO custom-border" data-bs-ride="carousel">
    <div class="carousel-inner">


      <!-- SMS Section -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row mb-5 text-center justify-content-center">
            <div class="col-lg-7">
              <h2 class="ezy__featured24_zc25EolO-heading mb-4">SMS Messaging Solution</h2>
              <p class="ezy__featured24_zc25EolO-sub-heading mb-4">
                Transform your communication with our SMS marketing services, designed to deliver your messages
                instantly and effectively. Boasting an impressive open rate of over 98%, SMS stands out as one of the
                most dependable channels for reaching your audience. Whether you're sharing promotional offers,
                essential reminders, or critical alerts, our advanced platform guarantees swift, secure delivery,
                ensuring your message never goes unnoticed.
              </p>
            </div>
          </div>
          <div class="carousel-container">
            <div class="row justify-content-end position-relative">
              <div class="ezy__service5_A3x4BbMS-list text-center p-3 mt-3">
                <div class="row">
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/sms_paper-plane.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Instant Delivery</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Messages are delivered instantly, making SMS
                          ideal for time-sensitive promotions, reminders, and
                          alerts.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card ">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/sms_personalization.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Personalization</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Tailor your messages to individual customers for
                          a more personalized and impactful experience.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/sms_detailed.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Detailed Analytics</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Track the performance of your SMS campaigns with
                          comprehensive analytics and reporting.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/sms_reliability.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">High Reliability</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Our platform guarantees high deliverability
                          rates, ensuring your messages reach their intended
                          recipients without fail.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-3">
                  <button class="btn btn-dark col-6 col-md-6 col-lg-3" routerLink="/sms"> Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Voice Section -->
      <div class="carousel-item">
        <div class="container">
          <div class="row mb-5 text-center justify-content-center">
            <div class="col-lg-7">
              <h2 class="ezy__featured24_zc25EolO-heading mb-4">Voice Messaging Solution</h2>
              <p class="ezy__featured24_zc25EolO-sub-heading mb-4">
                Connect with your audience like never before using our powerful Voice Solutions. With unmatched
                clarity
                and personalization, voice communication stands as one of the most compelling ways to engage your
                customers. Whether you're conducting customer outreach, providing support, or delivering important
                updates, our platform ensures your voice messages are delivered with precision and impact, creating
                lasting impressions every time.
              </p>
            </div>
          </div>
          <div class="carousel-container">
            <!--<div class="row justify-content-end position-relative">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-50">
                  <div
                    class="ezy__featured24_zc25EolO-bg-holder"
                    style="background-image: url('/images/voiceHome.svg')"
                  ></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card-body">
                  <div class="d-flex ezy__featured24_zc25EolO-item position-relative p-3 p-md-4 mb-3 mb-lg-4 cr-item">
                    <div class="ezy__featured24_zc25EolO-icon mb-4 me-4">
                      <i class="fas fa-cannabis"></i>
                    </div>
                    <div>
                      <h4 class="ezy__featured24_zc25EolO-title fs-4 mb-3">Personalized Engagement</h4>
                      <p class="ezy__featured24_zc25EolO-content mb-0">
                        Elevate customer experiences with tailored voice interactions that foster stronger, more
                        meaningful
                        connections.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex ezy__featured24_zc25EolO-item position-relative p-3 p-md-4 mb-3 mb-lg-4 cr-item">
                    <div class="ezy__featured24_zc25EolO-icon mb-4 me-4">
                      <i class="fas fa-random"></i>
                    </div>
                    <div>
                      <h4 class="ezy__featured24_zc25EolO-title fs-4 mb-3">Advanced IVR Technology</h4>
                      <p class="ezy__featured24_zc25EolO-content mb-0">
                        Streamline customer journeys with cutting-edge Interactive Voice Response (IVR) systems that
                        provide
                        swift and intuitive support.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex ezy__featured24_zc25EolO-item position-relative p-3 p-md-4 mb-3 mb-lg-4 cr-item">
                    <div class="ezy__featured24_zc25EolO-icon mb-4 me-4">
                      <i class="fas fa-camera"></i>
                    </div>
                    <div>
                      <h4 class="ezy__featured24_zc25EolO-title fs-4 mb-3">Crystal-Clear Clarity</h4>
                      <p class="ezy__featured24_zc25EolO-content mb-0">
                        Deliver your message with impeccable sound quality, ensuring every call resonates with
                        professionalism and precision.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex ezy__featured24_zc25EolO-item position-relative p-3 p-md-4 mb-3 mb-lg-4 cr-item">
                    <div class="ezy__featured24_zc25EolO-icon mb-4 me-4">
                      <i class="fas fa-camera"></i>
                    </div>
                    <div>
                      <h4 class="ezy__featured24_zc25EolO-title fs-4 mb-3">Automated Efficiency</h4>
                      <p class="ezy__featured24_zc25EolO-content mb-0">
                        Leverage automated voice solutions to effortlessly broadcast your message, enhancing reach while
                        saving valuable time and resources
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
            <div class="row justify-content-end position-relative">
              <div class="ezy__service5_A3x4BbMS-list text-center p-3 mt-3">
                <div class="row">
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/voice_enganement.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Personalized Engagement</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Elevate customer experiences with tailored voice
                          interactions that foster stronger, more
                          meaningful connections.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card ">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/voice_flow.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Automated Efficiency</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Leverage automated voice solutions to
                          effortlessly broadcast your message, enhancing reach while
                          saving valuable time and resources</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/voice_IVR.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Advanced IVR Technology</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Streamline customer journeys with cutting-edge
                          Interactive Voice Response (IVR) systems that
                          provide swift and intuitive support.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/voice_sound-waves.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Crystal-Clear Clarity</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Deliver your message with impeccable sound
                          quality, ensuring every call resonates with
                          professionalism and precision.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-3">
                  <button class="btn btn-dark col-6 col-md-6 col-lg-3" routerLink="/voice"> Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--  Whatsapp section-->
      <div class="carousel-item">
        <div class="container">
          <div class="row mb-5 text-center justify-content-center">
            <div class="col-lg-7">
              <h2 class="ezy__featured24_zc25EolO-heading mb-4">Whatsapp Messaging Solution</h2>
              <p class="ezy__featured24_zc25EolO-sub-heading mb-4">
                Engage your customers on their favorite messaging app with our WhatsApp Business Solutions. Offering
                secure,
                real-time communication, WhatsApp is a game-changer for customer interactions. Whether you're
                sending
                notifications, providing support, or delivering promotions, our platform ensures your messages are
                delivered
                instantly and effectively, creating meaningful connections that drive results.
              </p>
            </div>
          </div>
          <div class="carousel-container">
            <div class="row justify-content-end position-relative">
              <div class="ezy__service5_A3x4BbMS-list text-center p-3 mt-3">
                <div class="row">
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/wap_realtime.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Real-Time Messaging</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Communicate instantly with your customers,
                          ensuring timely and effective interactions.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card ">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/wap_auto_response.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Automated Responses</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Enhance efficiency with automated replies and
                          chatbots that handle routine inquiries and
                          provide
                          immediate assistance.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/wap_multimedia.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Multimedia Support</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Engage your audience with rich media, including
                          images, videos, documents, and voice notes, to
                          deliver a more immersive experience.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/wap_two_way_com.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Two-Way Communication</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Foster meaningful conversations with customers
                          through interactive two-way messaging that
                          enhances
                          engagement.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-3">
                  <button class="btn btn-dark col-6 col-md-6 col-lg-3" routerLink="/wap"> Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--EMAIL SECTION-->
      <div class="carousel-item">
        <div class="container">
          <div class="row mb-5 text-center justify-content-center">
            <div class="col-lg-7">
              <h2 class="ezy__featured24_zc25EolO-heading mb-4">Email Messaging Solution</h2>
              <p class="ezy__featured24_zc25EolO-sub-heading mb-4">
                Engage your audience directly in their inbox with our Email Marketing Solutions. Designed for
                impactful
                communication, our platform enables you to send personalized messages that resonate. Whether you're
                sharing
                newsletters, promotions, or important updates, our email solutions ensure your messages reach your
                customers
                effectively and drive meaningful engagement that enhances loyalty.
              </p>
            </div>
          </div>
          <div class="carousel-container">
            <div class="row justify-content-end position-relative">
              <div class="ezy__service5_A3x4BbMS-list text-center p-3 mt-3">
                <div class="row">
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/custom_templates.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Customizable Templates</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Create stunning, professional emails with our
                          user-friendly customizable templates that reflect
                          your brand's identity.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card ">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/segmentation.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Advanced Segmentation</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Target your audience effectively by segmenting
                          your email list based on demographics, behaviors,
                          and preferences for tailored messaging.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/marketing-automation.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Automated Campaigns</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0"> Streamline your marketing efforts with automated
                          email workflows that nurture leads and engage
                          customers at the right moments.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-5 mt-md-0">
                    <div class="card ezy__service5_A3x4BbMS-card">
                      <div class="card-body px-lg-4 py-lg-5">
                        <img class="ezy__service5_A3x4BbMS-icon mb-4"
                             src="icons/real_time_report.png" width="150"/>
                        <h4 class="ezy__service5_A3x4BbMS-title fs-4 mb-3">Real-Time Tracking</h4>
                        <p class="ezy__service5_A3x4BbMS-content mb-0">Monitor your email performance with real-time
                          tracking, including open rates, click-through
                          rates, and conversions, to measure success.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-3">
                  <button class="btn btn-dark col-6 col-md-6 col-lg-3" routerLink="/email"> Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#featuresCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#featuresCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

