.ezy__featured24_zc25EolO {
  //--bs-body-color: #23262f;
  //--bs-body-bg: rgb(255, 255, 255);
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-item-bg: #ffffff;
  --ezy-card-bg: #061237;
  --ezy-card-shadow: 0 24px 38px rgba(89, 88, 109, 0.27);
  //background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__featured24_zc25EolO {
    padding: 100px 0;
  }
}

.ezy__featured24_zc25EolO-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__featured24_zc25EolO-heading {
    font-size: 45px;
    line-height: 45px;
  }
}

.ezy__featured24_zc25EolO-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
}

.ezy__featured24_zc25EolO-icon {
  color: var(--ezy-theme-color);
  border-radius: 50%;
  font-size: 32px;
}

.ezy__featured24_zc25EolO-bg-holder {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  width: 100%;
}

@media (min-width: 991px) {
  .ezy__featured24_zc25EolO-bg-holder {
    float: right;
    height: 100%;
  }
}

.ezy__featured24_zc25EolO-title {
  color: var(--bs-body-color);
}

.ezy__featured24_zc25EolO-content {
  color: var(--bs-body-color);
  opacity: 0.7;
}

.ezy__featured24_zc25EolO-card {
  position: relative;
  margin: -50px 50px 0 50px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  box-shadow: var(--ezy-card-shadow);
  z-index: 11;
}

@media (min-width: 991px) {
  .ezy__featured24_zc25EolO-card {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 75%;
    left: 0;
    margin: 0;
  }
}

.ezy__featured24_zc25EolO-card .card-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ezy__featured24_zc25EolO-card-content {
  background-color: var(--ezy-card-bg);
  color: #fff;
  border-radius: 10px;
  line-height: 1.6;
}

.ezy__featured24_zc25EolO-card-content p {
  opacity: 0.8;
}


.custom-border{
  //border: 1px black solid;
  padding: 2%;
  border-radius: 1%;
  //background-color: #F2F2F2;
  background-color: mix(#EBEAE8, #ffffff, 80%); // Mix with white to lighten;
}


.carousel-inner{
  background-color: mix(#EBEAE8, #ffffff, 80%); // Mix with white to lighten;
}

.card-body{
  background-color: #ffffff;
  border-radius: 0.5%;
 }
