



.ezy__service5_A3x4BbMS {
  /* Bootstrap variables */
  --bs-body-color: #2B323C;
  --bs-body-bg: #EBEAE8;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  //--ezy-list-bg:  mix(#EBEAE8, #ffffff, 80%); // Mix with white to lighten
  --ezy-list-bg:  #ffffff; // Mix with white to lighten
  --ezy-list-shadow: 0px 8px 44px rgba(227, 238, 255, 0.48);
  --ezy-card-bg: #c1c5c6;
  --ezy-card-shadow: 0px 8px 44px rgba(227, 238, 255, 0.48);

  background: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__service5_A3x4BbMS {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__service5_A3x4BbMS,
.ezy__service5_A3x4BbMS.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-list-bg: #fff;
  --ezy-list-shadow: 0px 8px 44px rgba(203, 224, 250, 0.48);
  --ezy-card-bg: #dde7fb;
  --ezy-card-shadow: 0px 8px 44px rgba(203, 224, 255, 0.48);
}

/* Dark Gray Block Style */
.dark-gray .ezy__service5_A3x4BbMS,
.ezy__service5_A3x4BbMS.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-list-bg: #313d4b;
  --ezy-list-shadow: none;
  --ezy-card-bg: #2a3749;
  --ezy-card-shadow: none;
}

/* Dark Block Style */
.dark .ezy__service5_A3x4BbMS,
.ezy__service5_A3x4BbMS.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-list-bg: #162231;
  --ezy-list-shadow: none;
  --ezy-card-bg: #121d2c;
  --ezy-card-shadow: none;
}

.ezy__service5_A3x4BbMS-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__service5_A3x4BbMS-heading {
    font-size: 45px;
    line-height: 45px;
  }
}

.ezy__service5_A3x4BbMS-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
  opacity: .8;
}

.ezy__service5_A3x4BbMS-list {
  background-color: var(--ezy-list-bg);
  box-shadow: var(--ezy-list-shadow);
  border-radius: 30px;
}

.ezy__service5_A3x4BbMS-card {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  border: none;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out;
}

.ezy__service5_A3x4BbMS-card:hover,
.ezy__service5_A3x4BbMS-card.active {
  background-color: #EBEAE8;
  box-shadow: var(--ezy-card-shadow);
  transform: translateY(-4px);
}

.ezy__service5_A3x4BbMS-card [class*="col-"]:nth-of-type(1n) .ezy__service5_A3x4BbMS-icon {
  background-color: rgba(252, 110, 92, .10);
  color: rgba(252, 110, 92, 1);
}

.ezy__service5_A3x4BbMS-card [class*="col-"]:nth-of-type(2n) .ezy__service5_A3x4BbMS-icon {
  background-color: rgba(4, 121, 193, .10);
  color: rgba(4, 121, 193, 1);
}

.ezy__service5_A3x4BbMS-card [class*="col-"]:nth-of-type(3n) .ezy__service5_A3x4BbMS-icon {
  background-color: rgba(255, 214, 0, .10);
  color: rgba(255, 214, 0, 1);
}

.ezy__service5_A3x4BbMS-icon {
  font-size: 32px;
}

.ezy__service5_A3x4BbMS-title {
  color: var(--bs-body-color);
}

.ezy__service5_A3x4BbMS-content {
  color: var(--bs-body-color);
  opacity: .8;
}

.carousel-container{
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 1%;
}
