/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  background-color: #EBEAE8;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  //color: var(--bs-body-color);
 text-transform: uppercase;
}


.custom-subHeading{
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.75;
}

@media (min-width: 768px) {
  .custom-subHeading {
    font-size: 20px;
  }
  .custom-h1 {
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
  }
}

